# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# IDEs and text editors
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Python virtual environment folders
.venv/
venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# PyCharm project files
.idea/

# VS Code project files
.vscode/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# pytest
.cache/

# Python distribution packages
dist/
build/
*.egg-info/
.eggs/

# Logs
*.log

# secrets
*.env

# GitHub Actions
.github/workflows/
